@model CargoFeedsViewModel 

@{
    ViewData["Title"] = "Cargo Feeds";
}

@if (Model.CargoName != "")
{
    <div class="h2 text-center">@Model.CargoName</div>
}
else
{
    <div class="h2 text-center">Cargos Feeds</div>
}

@foreach (var feeds in Model.UserCargoFeeds!)
{
    @foreach (var item in feeds.Items)
    {
        <div class="card box-shadow border-secondary shadow-sm m-sm-4 m-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span class="h4">
                    @item.Title
                </span>
                @if (Model.CargoName != "")
                {
                    <span style="padding-left: 1rem;">
                        @item.FeedTitle
                    </span>
                }
            </div>
            <div class="card-body">
                @item.Summary
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center px-2">
                <a href="@item.Links[0].Item2" class="btn btn-outline-dark" target="_blank">Full post</a>
                <div class="text-right mx-2">
                    @item.PublishDate
                    @if (item.Authors.Any())
                    {
                        <span>by @string.Join(", ", item.Authors)</span>
                    }
                </div>
            </div>
        </div>
    }
}

@if (!Model.UserCargoFeeds.Any())
{
    <h4 class="text-center text-secondary mt-5">
        There is no cargo feeds right now, to add new cargo <a asp-controller="Rss" asp-action="YourCargos">click here</a>
    </h4>
}