@model FeedsViewModel 

@{
    ViewData["Title"] = "Feeds";
    ViewData["UserFeeds"] = Model.UserFeeds.Select(f => new Tuple<int, string>(f.Id, f.Title));
}

<div class="border-bottom box-shadow shadow m-3 flex-grow-1">
    @if (Model.UserFeed != null)
    {
        <div class="h2 text-center">@Model.UserFeed.Title</div>
        @foreach (var item in Model.UserFeed.Items)
        {
            <div class="card box-shadow shadow-sm m-3">
                <div class="card-header">
                    @item.Title
                </div>
                <div class="card-body">
                    @item.Summary
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="@item.Links[0].Item2" class="card-link">Full post</a>
                    <span>@item.PublishDate</span>
                </div>
            </div>
        }
    }
    else
    {
        @foreach (var feed in Model.UserFeeds)
        {
            <div>
                <p>@feed.Title</p>
                <p>@feed.Authors</p>
                <p>@feed.Description</p>
                <p>@feed.LastUpdatedTime</p>
                <p>@feed.Items.Length</p>
            </div>
        }
    }
</div>
